<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <h1>About</h1>
      <p style="font-size:18px">So, you and your friends enjoy going to see live musical performances.
        And hey, your friend Baxter just told you he was going to see Jojo Mayer
        &amp Nerve perform live at the Nublu next week. Only one problem: you've
        never even heard of them! No Spotify account to sample their music?
        No problem, l2lm doesn't require any sign in process for its integrated
        music player. Need information about their upcoming performances?
        l2lm also presents you that, and will directly
        link you to the SeatGeek event to buy your tickets. l2lm aims to supply
        you with all the information you might need in one place by simply
        typing in an artists name.
      </p>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
