<h1>Tracks</h1>
<i ng-if="trackvm.loading" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
<h3 ng-if="trackvm.topTracks.length == 0 && !trackvm.loading">No tracks found</h3>
<ul class="list-group">
  <div ng-repeat="track in trackvm.topTracks">
    <li class="list-group-item">{{ track.name }}</li>
    <ul class="list-group">
      <li class="list-group-item">
        <audio controls>
          <source src="{{ track.preview_url }}" type="audio/mpeg">
        </audio>
      </li>
    </ul>
  </div>
</ul>
<button ng-click="trackvm.getTopTracks()">Populate</button>
